@use '../abstracts/variables' as *;
// Typography
html {
  font-size: $font__size;
  font-family: $font__family;
}
h1 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
}
h2,
input.todo__input-area {
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: $fw-med;
  @media (max-width: $break-1) {
    font-size: 1.125rem;
  }
  @media (max-width: $break-2) {
    font-size: 1rem;
  }
}
h4 {
  font-size: 0.9rem;
}
.todo__options {
  font-weight: $fw-med;
}
input.todo__input-area::placeholder {
  color: var(--accent-color);
}
i {
  font-size: 0.675rem;
}
