@use '../abstracts' as *;
@use '../core' as *;
// Header

.header {
  @include flex-row(space-between, center);

  .logo {
  }

  .mode__switcher {
    width: $circle__dims;
    height: $circle__dims;
    cursor: pointer;
    background-image: url('/images/icon-moon.svg');
    @include image-reset;
  }
}
html.darkTheme .mode__switcher {
  background-image: url('/images/icon-sun.svg');
  @include image-reset;
}
