@use '../abstracts' as *;
@use '../core' as *;
// Input

.todo__input {
  height: $todo__height;
  background: var(--todo-color);
  border-radius: $radius;
  padding: $spacing__sml;
  box-shadow: $box__shadow;
  margin: {
    top: $spacing;
    bottom: $spacing / 2;
  }
  @include media($br-3) {
    margin: {
      top: $spacing__sml;
      // bottom: $spacing / 2;
    }
  }
  @include flex-row(space-between, center);
  &-placeholder {
    width: $circle__dims;
    height: $circle__dims;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    margin-left: $spacing__sml;
    position: absolute;
  }
  &-icon {
    $padding: $circle__dims / 3.5;
    border-radius: 50%;
    padding: $padding / 1.425 $padding;
    margin-left: $spacing__sml;
    color: white;
    border: 2px solid transparent;
    background: $trash__color;
    cursor: pointer;
    transition: transform $dur $snap__eff, opacity $dur $snap__eff, color 0.25s, background 0.25s,
      border-color 0.25s;

    //? animations on type (Js)
    transform: translateX(-150px);
    opacity: 0;
    pointer-events: none;

    &:hover {
      color: $trash__color;
      border-color: white;
    }
  }
  &-area {
    flex-grow: 1;
    margin-left: 1.5rem;
    background: transparent;
    @include input-reset;
  }
}
